<div class="wrapper">
	<div class="container">
		<div class="title largevertspace">
			<%= link_to '878 media', root_url %>
		</div>
		<div class="medtitle medvertspace">
			Translate your thoughts into words.
		</div>
		<div class="largevertspace">
			<% if user_signed_in? %>
				<div>
					<%= link_to "sign out", sign_out_path, class: "regbutton" %>
				</div>
			<% else %>
				<div class="twocol">
					<%= link_to 'sign in', sign_in_path, class: "regbutton" %>
				</div>
				<div class="twocol">
					<%= link_to 'register', register_path, class: "specbutton" %>
				</div>
			<% end %>
		</div>
		<div class="medtitle medvertspace">
			Recent Articles
		</div>
	</div>
	<%= render 'partials/home_footer' %>
</div>